#############################################################################
#           Environment variables for docker-compose.yml
#############################################################################

# User for veetou database application development.
#ORACLE_VEETOU_USER=VEETOU

# Password for $ORACLE_VEETOU_USER. If not set, random password will be generated.
#ORACLE_VEETOU_PWD=MyS3creTPass

# Name of the Container Database (CDB).
ORACLE_SID=CDB

# Name of the single Pluggable DataBase (PDB).
ORACLE_PDB=VEETOU

# Password for SYS, SYSTEM and PDBADMIN users. If not set, random pass is
# generated.
# ORACLE_PWD=MyS3creTPass
